@model ConsultaCep.Models.Locator

@{
    ViewData["Title"] = "RetornoApi";
}

<h1>Retorno</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="InsereDB">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cep" class="control-label"></label>
                <input asp-for="cep" class="form-control" id="cep" />
                <span asp-validation-for="cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complemento" class="control-label"></label>
                <input asp-for="complemento" class="form-control" id="complemento" />
                <span asp-validation-for="complemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bairro" class="control-label"></label>
                <input asp-for="bairro" class="form-control" id="bairro" />
                <span asp-validation-for="bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="localidade" class="control-label"></label>
                <input asp-for="localidade" class="form-control" id="localidade" />
                <span asp-validation-for="localidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="uf" class="control-label"></label>
                <input asp-for="uf" class="form-control" id="uf" />
                <span asp-validation-for="uf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ibge" class="control-label"></label>
                <input asp-for="ibge" class="form-control" id="ibge" />
                <span asp-validation-for="ibge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gia" class="control-label"></label>
                <input asp-for="gia" class="form-control" id="gia" />
                <span asp-validation-for="gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ddd" class="control-label"></label>
                <input asp-for="ddd" class="form-control" id="ddd" />
                <span asp-validation-for="ddd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="siafi" class="control-label"></label>
                <input asp-for="siafi" class="form-control" id="siafi" />
                <span asp-validation-for="siafi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        function InsertCEP() {
            debugger;
            var mapeado = {};
            mapeado.Cep = $("#cep").val();
            mapeado.Complemento = $("#complemento").val();
            mapeado.Bairro = $("#bairro").val();
            mapeado.Localidade = $("#localidade").val();
            mapeado.Uf = $("#uf").val();
            mapeado.Ibge = $("#ibge").val();
            mapeado.Gia = $("#gia").val();
            mapeado.Ddd = $("#ddd").val();
            mapeado.Siafi = $("#siafi").val();
               $.ajax({
                   type: "POST",
                   url: "@Url.Action("InsereDB", "Locator")",
                   data: { locator : mapeado },
                   dataType: 'json',
                   contentType: "application/x-www-form-urlencoded",
                   success: function (url) {
                       window.location.href = url;
                   },
                   error: function (url) {
                       window.location.href = url;
                   }
               })
           }
    </script>
}